.cart {
  &__cont {
    padding: 20px 10px;
    h2 {
      text-align: left;
      margin: 10px 0;
    }
    p {
      text-align: left;
      margin: 0 0 20px 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0;
  }
  &__disclaimer {
    text-align: left;
    margin-bottom: 20px;
    font-style: italic;
  }
}
