.menuitem {
  &__card {
    border-bottom: 1px solid $exlight-gray;
    padding: 25px;
    display: flex;
  }

  &__left-sec {
    flex: 2;
  }

  &__right-sec {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__row {
    display: flex;
    padding: 10px 0;
  }

  &__foodtype-icon_veg{
    color : $veg;
  }

  &__foodtype-icon_nonveg{
    color: $non-veg;
  }

  &__imgcont {
    height: 100px;
    width: 100px;
    border: 1px solid $dark-gray;
    background: $light-gray;
  }

  &__quantitySelector {
    display: flex;
    border: 1px solid $base-gray;
  }

  &__quantity {
    flex: 1;
    padding: 8px 12px;
  }
}
