.category{
    &__section{
        height: 290px;
        width: 100%;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:20px;
        flex-direction: column;
        
    }
    &__image{
        clip-path: circle();
        height: 150px;
        width: 150px;
    }
    &__name{
        @extend .text-xl-d;
        margin-top:20px;
        text-transform: capitalize;
    }
}