.menupage{
    &__navigation-cont {
        flex: 1;
        border-right: 1px solid $exlight-gray;
        height: auto;
    }
    
    &__menu-cont {
        flex: 2.3;
        height: auto;
        margin: 0 20px;
    }
    
    &__cart-cont {
        flex: 1;
        border-left: 1px solid $exlight-gray;
    }
    
    &__cont {
        width: 80%;
        margin: auto;
    }
}