$primary-color : #5f88a3;
$secondary-color-a: #fc8019;
$terciary-color:#5d8ed5; 

// color
$dark-gray: #606060;
$base-gray: #808080;
$light-gray:#C0C0C0;
$exlight-gray : #E0E0E0; 
$veg: #0f8a65;
$non-veg:#843821;
$star : #ee9c00;
$white : #fff;
$dark-green: #0f8a65;
$light-green:#60b246;
// error page colors
$error-bg: #ffcccc;
$error-txt: #800000;

// header colors
$header-bg:#A52A2A;
$header-font:$white;

// text color
$dark-txt: $dark-gray;
$base-txt: $base-gray;
$light-txt: $light-gray;
$text-highlight: $secondary-color-a;

div{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}
.App, #root,.pagecont{
    min-height: 100%;
    background-color: $light-gray;
}

.d-flex{
    display: flex;
}
.vh-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vc-hl{
    display: flex;
    align-items: center;
    justify-content: start;
}

.text-xs{
    font-size: 14px;
    &-d{
        font-size: 14px;
        color:$dark-txt;
    }
    &-l{
        font-size: 14px;
        color:$light-txt;
    }
}
.text-s{
    font-size: 16px;
    &-d{
        font-size: 16px;
        color:$dark-txt;
    }
    &-l{
        font-size: 16px;
        color:$light-txt;
    }
}
.text-m{
    font-size: 18px;
    &-d{
        font-size: 18px;
        color:$dark-txt;
    }
    &-l{
        font-size: 18px;
        color:$light-txt;
    }
}
.text-l{
    font-size: 20px;
    &-d{
        font-size: 20px;
        color:$dark-txt;
    }
    &-l{
        font-size: 20px;
        color:$light-txt;
    }
}
.text-xl{
    font-size: 22px;
    &-d{
        font-size: 22px;
        color:$dark-txt;
    }
    &-l{
        font-size: 22px;
        color:$light-txt;
    }
}

.text-xxl{
    font-size: 24px;
    &-d{
        font-size: 24px;
        color:$dark-txt;
    }
    &-l{
        font-size: 24px;
        color:$light-txt;
    }
}

.txt-capitalize{
    text-transform: capitalize;
}

img{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}

.button-A{
    min-height: 40px;
    min-width: 60px;
    width: 100%;
    padding: 12px 60px;
    background-color: $light-green;
    color: #fff;
    font-size: 16px;
    border: 0;
}

//spacing
.pd-r-10{
    padding-right: 10px;
}

.pd-r-20{
    padding-right: 20px;
}