$primary-color : #5f88a3;
$lightgray : #f2f1ed; 
$white : #fff;

$error-bg: #ffcccc;
$error-txt: #800000;

$header-bg:#5f88a3;
$header-font:#fff;

$primary-txt: black;
$secondary-txt: gray;

div{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}
.App, #root,.pagecont{
    min-height: 100%;
    background-color: $lightgray;
}

.d-flex{
    display: flex;
}
.vh-center{
    display: flex;
    align-items: center;
    justify-content: center;
}