$primary-color : #5f88a3;
$secondary-color-a: #fc8019;
$terciary-color:#5d8ed5; 

// color
$lightgray : #f2f1ed; 
$white : #fff;
$dark-green: #0f8a65;
$light-green:#60b246;
// error page colors
$error-bg: #ffcccc;
$error-txt: #800000;

// header colors
$header-bg:$primary-color;
$header-font:$white;

// text color
$dark-txt: black;
$light-txt: gray;
$extra-light-txt: lightgray;

div{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}
.App, #root,.pagecont{
    min-height: 100%;
    background-color: $lightgray;
}

.d-flex{
    display: flex;
}
.vh-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-xs{
    font-size: 14px;
    &-d{
        color:$dark-txt;
    }
    &-l{
        color:$light-txt;
    }
}
.text-s{
    font-size: 16px;
    &-d{
        color:$dark-txt;
    }
    &-l{
        color:$light-txt;
    }
}
.text-m{
    font-size: 18px;
    &-d{
        color:$dark-txt;
    }
    &-l{
        color:$light-txt;
    }
}
.text-l{
    font-size: 20px;
    &-d{
        color:$dark-txt;
    }
    &-l{
        color:$light-txt;
    }
}
.text-xl{
    &-d{
        color:$dark-txt;
    }
    &-l{
        color:$light-txt;
    }
}

.text-xxl{
    &-d{
        color:$dark-txt;
    }
    &-l{
        color:$light-txt;
    }
}

img{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}

.button-A{
    min-height: 40px;
    min-width: 60px;
    width: 100%;
    padding: 12px 60px;
    background-color: $light-green;
    color: #fff;
    font-size: 16px;
    border: 0;
}