.app-header{
    color: $header-font;
    .appHeader{
        &__cont{
            height: 60px;
            background-color: $header-bg;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: $header-font;
                height: 50px;
                display: block;
            }
        }
        &__logoCont{
            padding-left:20px
        }

        &__section-cont{
            display: flex;
        } 
        &__items{
            padding: 0 20px;
            display: flex;
            a{
                height: 20px;
                text-decoration: none;
                color: $header-font;
            }
        }        
    }
}